/* .sevenbio__header {
  display: flex;
  flex-direction: row;
  background-color: rgb(20, 22, 20);
  border: 1px solid pink;
  justify-content: space-between;
}

.sevenbio__logo--primary {
  display: inline-block;
  padding-top: 0.6rem;
  padding-bottom: 0.75rem; 
  border: 1px solid green;
}

.sevenbio__logo--primary img {
    width: 120px; 
}

@media (min-width: 768px) {
  .sevenbio__header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sevenbio__logo--primary img {
    width: 168px; 
  } 
}

.header-logo__text {
  position: absolute;
  left: -99999px; 
}

img {
  margin-bottom: 0;
}

.sevenbio__navbar-ul {
  color: #16AA4B;
  border: 1px solid blue;
  
  margin-left: 24px;
  margin-bottom: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.sevenbio__navbar-li {
  margin-top: 0;
  margin-bottom: 0;
  color: #16AA4B;
  border: 1px solid pink;
  width: 100%;
  text-align: center;
} */

body {
  font-family: 'Lato', sans-serif;
}

.landing-page {
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
}

.landing-page--header {
  background-color: #141614;
  border: 1px solid black;
  display: flex;
  height: 12%;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.header__logo__container {
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;
  box-sizing: content-box;
  position: relative;
  margin-top: 9px;
}

.header__img {
  display: block;
  margin: 0 auto;
}

.header__links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__links__single {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header__links__single:hover .header__links__text{
  color: #16AA4B;
  text-decoration: none;
  text-shadow: #16AA4B 0 0 15px;
}

.header__links__text {
  margin-top: 18px;
  color: #E1E5E2;
}

.circle-container {
  width: 100%;
  height: 100%;
}

#circle {
  margin-bottom: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.header__links__single:hover #circle{
  background: #16AA4B;
  text-decoration: none;
  text-shadow: #16AA4B 0 0 15px;
}

.header__links__text--active {
  color: #16AA4B;
  text-shadow: #16AA4B 0 0 15px;
}

.landing-page--body {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.page-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #3A3B37;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'content image'
}

.page-layout__content {
  display: flex;
  color: #E1E5E2;
  background-color: #141614;
  grid-area: 'content';
  justify-items: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.page-layout__image {
  grid-area: 'image';
}

.page-layout-team {
  width: 100%;
  padding: 20px;
  background-color: grey;
  border: 5px solid pink;
}

.one-person {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid teal;
  height: 50%;
  padding: 25px;
  box-sizing: border-box;
}

.one-person__portrait {
  display: flex;
  border: 1px solid white;
  max-height: 200px;
  box-sizing: border-box;
}

.one-person__biography {
  display: flex;
  border: 1px solid white;
  width: 80%;
  box-sizing: border-box;
}