body {
  color: #747474;
  height: 100%;
  overflow: hidden;
}

a {
  color: #0B562B;
}

.page-layout {
  width: 100%;
  height: 100%;
  padding: 20px 45px;
  overflow: scroll;
  background-color: #e6e6e6;
}

.default {
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
  display: flex;
  flex-direction: column;
}

.default__header {
  background-color: #141614;
  display: flex;
  height: 12%;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.header__logo__container {
  display: flex;
  height: 100%;
  width: 20%;
  align-items: center;
  box-sizing: content-box;
  position: relative;
  margin-top: 9px;
}

.header__img {
  display: block;
  margin: 0 auto;
}

.header__links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__links__single {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header__links__single:hover .header__links__text {
  color: #16AA4B;
  text-decoration: none;
}

.header__links__text {
  margin-top: 18px;
  color: #E1E5E2;
}

.circle-container {
  width: 100%;
  height: 100%;
}

#circle {
  margin-bottom: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.header__links__single:hover #circle {
  background: #16AA4B;
  -o-box-shadow:      0px 0px 18px #16AA4B;
  -icab-box-shadow:   0px 0px 18px #16AA4B;
  -khtml-box-shadow:  0px 0px 18px #16AA4B;
  -moz-box-shadow:    0px 0px 18px #16AA4B;
  -webkit-box-shadow: 0px 0px 18px #16AA4B;
  box-shadow:         0px 0px 18px #16AA4B;
}

.header__links__text--active {
  color: #16AA4B;
}

.header__links__single:hover {
  text-shadow: #16AA4B 0 0 15px;
}

.drawer {
}

.default__body {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.homepage-layout__content {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: scroll;
}

#homepage-layout__background-image {
  position: absolute;
  display: block;
  box-sizing: border-box;
  max-width: auto;
  max-height: 100%;
  opacity: 0.65;
}

.homepage-layout__text {
  position: absolute;
  z-index: 100;
  position: absolute;
  color: #E1E5E2;
  width: 60%;
  align-content: center;
  text-align: center;
  top: 22%;
  font-weight: 350;
}

@media (min-width: 438px) {
  .homepage-layout__text {
    position: absolute;
    z-index: 100;
    position: absolute;
    color: #E1E5E2;
    width: 60%;
    align-content: center;
    text-align: center;
    top: 22%;
    font-size: 30px;
    font-weight: 350;
  }
}

.page-layout-team {
}

.page-layout-team__header {
  margin-left: 0px;
}

.one-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}

.one-person__portrait {
  display: flex;
  max-height: 60%;
  max-width: 60%;
  background-color: lightgrey;
  margin-right: 25px;
}

.one-person__biography {
  display: flex;
  width: auto;
}

@media (min-width: 480px) and (max-width: 768px) {
  .one-person__biography {
  }
}

@media (min-width: 480px) {
  .one-person {
    flex-direction: row;
    height: auto;
    padding: 0 25px 25px 0px;
  }

  .one-person__portrait {
    max-height: 200px;
    max-width: 150px;
  }

  .one-person__biography {
    width: 60%;
  }
}

.shadowed {
  -o-box-shadow:      0px 1px 12px rgb(192, 192, 192);
  -icab-box-shadow:   0px 1px 12px rgb(192, 192, 192);
  -khtml-box-shadow:  0px 1px 12px rgb(192, 192, 192);
  -moz-box-shadow:    0px 1px 12px rgb(192, 192, 192);
  -webkit-box-shadow: 0px 1px 12px rgb(192, 192, 192);
  box-shadow:         0px 1px 12px rgb(192, 192, 192);
}

.page-layout__contact {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #3A3B37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page__header{
  color: #16AA4B;
}

.contact-page__text {
  color: #E1E5E2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background-color: #141614;
}

.footer__content {
  color: #0B562B;
  font-size: 0.875rem;
}